git+git://github.com/mverteuil/pytest-ipdb.git#egg=pytest-ipdb
celery[redis]==4.0.2
django-crispy-forms==1.6.1
django-filter==1.0.2
django-timezone-field==2.0
Django==1.11
djangorestframework-jwt==1.10.0
djangorestframework-gis==0.11.2
djangorestframework==3.6.2
drf-nested-routers==0.11.1
ipdb==0.10.3
ipython==6.0.0
Markdown==2.6.7
mixer==5.6.6
Pillow==3.4.2
psycopg2==2.6.2
pytest-cov==2.4.0
pytest-django==3.1.2
pytest-mock==1.6.0
pytest-testmon==0.9.4
pytest-watch==4.1.0
pytest==2.9.2
python-dateutil==2.6.0
# python-social-auth==0.2.21
social-auth-app-django==1.1.0
pytz==2017.2
